<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Home</title>
  </head>
  <body>
<h1>Sample App</h1>
<p>This is the home page for my attempt at the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>
  <a href="https://github.com/timabell/rails_tutorial_sample_app">https://github.com/timabell/rails_tutorial_sample_app</a><br />
  <a href="http://heroku3.timwise.co.uk/">http://heroku3.timwise.co.uk/</a><br />
</p>
</body>
</html>
